<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../css/main.css">

<div id="app">
    <div class="container">

        <h2 v-show="submitted" v-cloak class="mt-5">Thank You for Signing Up!</h2>
        <div class="card mt-5">
            <h2 class="card-header">
                Near-Earth
                <transition name="spin" appear>
                    <span style="display:inline-block">Objects</span>
                </transition>
            </h2>
            <transition name="shooting-star">
                <div class="m-3" v-cloak v-if="numAsteroids > 0 && showSummary">
                    <p> showing {{numAsteroids}} items</p>
                    <p>{{closestObject}} has the shortest miss distance</p>
                </div>
            </transition>
            <div class="m-3">
                <a href="#" @click="showSummary = !showSummary">Show/hide summary</a>
            </div>
            <table class="table table-striped" :class="[{'table-dark': false}, 'table-bordered']">
                <thead class="thead-light">
                    <th>#</th>
                    <th>Name</th>
                    <th>Close Approach Date</th>
                    <th>Miss Distance</th>
                    <th>Remove</th>
                </thead>
                <tbody is="transition-group" tag="tbody" name="neo-list" v-cloak>
                    <tr v-for="(a,index) in asteroids" :key="a.neo_reference_id"
                        :class="{highlight:isMissingData(a), 'shadow-sm':true}">
                        <td>{{index + 1}}</td>
                        <td>{{a.name}}</td>
                        <td>{{getCloseApproachDate(a)}}</td>
                        <td>
                            <ul v-if="a.close_approach_data.length > 0">
                                <li v-for="(value,key) in a.close_approach_data[0].miss_distance">
                                    {{key}}:{{value}}
                                </li>
                            </ul>
                        </td>
                        <td><button @click="removeAsteroid(index)" class="btn btn-warning">remove</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <br /><img :src="imgSrc" :title="imgTitle"><br />

        <form v-show="!submitted" class="mt-5">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" v-model:value="email" class="form-control form-control-lg">
            </div>
            <button type="submit" v-on:click.prevent="processSubmit" class="btn btn-primary">Submit</button>
        </form>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.8/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            email: 'anonymous@example.com',
            submitted: false,
            imgSrc: '',
            imgTitle: '',
            asteroids: [],
            showSummary: true
        },
        computed: {
            numAsteroids: function () {
              return this.asteroids.length;
            },
            closestObject: function () {
                let neosHavingData = this.asteroids.filter(function (neo){
                    return neo.close_approach_data.length > 0;
                });
                let simpleNeos = neosHavingData.map(function (neo){
                    return {name: neo.name, miles: neo.close_approach_data[0].miss_distance.miles};
                });
                let sortedNeos = simpleNeos.sort(function (a,b){
                    return a.miles - b.miles;
                });
                return sortedNeos[0].name;
            }
        },
        created: function () {
            this.fetchApod();
            this.fetchMeteor();
        },
        methods: {
            processSubmit: function() {
                this.submitted = true;
            },
            fetchApod: function() {
                let apiKeyNASA = "T4UuzeSu0ti874ibE2PvT7pUS0YYrlxHaUFIH6oa";
                let urlPOD = 'https://api.nasa.gov/planetary/apod?api_key=' + apiKeyNASA;

                axios.get(urlPOD)
                    .then(function (res){
                        vm.imgSrc = res.data.url;
                        vm.imgTitle = res.data.title;
                    });
            },
            fetchMeteor: function() {
                let apiKeyNASA = "T4UuzeSu0ti874ibE2PvT7pUS0YYrlxHaUFIH6oa";
                let urlMeteor = 'https://api.nasa.gov/neo/rest/v1/neo/browse?api_key=' + apiKeyNASA;

                axios.get(urlMeteor)
                    .then(function (res){
                        vm.asteroids = res.data.near_earth_objects.slice(0, 20);
                    });
            },
            getCloseApproachDate: function(a){
                if(a.close_approach_data.length > 0){
                    return a.close_approach_data[0].close_approach_date;
                }
                return 'N/A';
            },
            removeAsteroid: function(index) {
                this.asteroids.splice(index, 1);
            },
            getRowStyle: function(a) {
                if (a.close_approach_data.length == 0){
                    return {
                        border: 'solid 3px red',
                        color: 'red'
                    };
                }
            },
            isMissingData: function (a) {
                return a.close_approach_data.length == 0;
            }
        }
    });


</script>