<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../css/main.css">

<div id="app">
    <div class="container">
        <h2 v-show="submitted" v-cloak class="mt-5">Thank You for Signing Up!</h2>
        <asteroid-grid :asteroids="asteroids" header="Near-Earth Objects"></asteroid-grid>
        <a-pod>
            <h3 slot="title">#1</h3>
            <p slot="caption">Here's todays Astronomy Picture of the Day!</p>
        </a-pod>
        <a-pod date="2018-08-07">
            <h3 slot="title">#2</h3>
            <p slot="caption" slot-scope="pic">Here's the picture from {{pic.date}}</p>
        </a-pod>
        <another-component></another-component>
        <my-component v-for="i in 10"></my-component>
        <div class="card mt-5">
            <h2 class="card-header">
                Near-Earth
                <transition name="spin" appear>
                    <span style="display:inline-block">Objects</span>
                </transition>
            </h2>
            <transition name="shooting-star">
                <div class="m-3" v-cloak v-if="numAsteroids > 0 && showSummary">
                    <p> showing {{numAsteroids}} items</p>
                    <p>{{closestObject}} has the shortest miss distance</p>
                </div>
            </transition>
            <div class="m-3">
                <a href="#" @click="showSummary = !showSummary">Show/hide summary</a>
            </div>
            <table class="table table-striped" :class="[{'table-dark': false}, 'table-bordered']">
                <thead class="thead-light">
                    <th>#</th>
                    <th>Name</th>
                    <th>Close Approach Date</th>
                    <th>Miss Distance</th>
                    <th>Remove</th>
                </thead>
                <tbody is="transition-group" tag="tbody" name="neo-list" v-cloak>
                    <tr v-for="(a,index) in asteroids" :key="a.neo_reference_id"
                        :class="{highlight:isMissingData(a), 'shadow-sm':true}">
                        <td>{{index + 1}}</td>
                        <td>{{a.name}}</td>
                        <td>{{getCloseApproachDate(a)}}</td>
                        <td>
                            <ul v-if="a.close_approach_data.length > 0">
                                <li v-for="(value,key) in a.close_approach_data[0].miss_distance">
                                    {{key}}:{{value}}
                                </li>
                            </ul>
                        </td>
                        <td><button @click="removeAsteroid(index)" class="btn btn-warning">remove</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <form v-show="!submitted" class="mt-5">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" v-model:value="email" class="form-control form-control-lg">
            </div>
            <button type="submit" v-on:click.prevent="processSubmit" class="btn btn-primary">Submit</button>
        </form>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.8/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../js/AsteroidGrid.js"></script>
<script src="../js/main.js"></script>